<p>Home Page</p>
<% if @articles.length > 0 %>
  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
    <%= link_to "Show", article_path(article) %><br/><br/>
  <%end%>
<%end%>
<p>
  <%= link_to "Create new", new_article_path %>
</p>